{
    "adminSteamID64s": [
        76561199027322487
    ],
    "logWebhook": "",
    
    "autoAcceptFR": true,
    "autoSendMsg": true,
    "enableComment": true,
    "statusText": "Steam bot | Made by жnoobж#6228",
    "messages": {
        "welcomeMessage": "Hi!, Welcome to my steam bot 'steammy'!",
        "firstMessage": "Im a bot developed by жnoobж#6228 and im in beta\n\n-If you need some help just writte !help\n-For help and support contact me on discord or https://github.com/IMXNOOBX/steammy\n\nComment in my profile if you have some free time!",
        "commentText": "+rep! By 'steammy' steam bot!"
    },

    "other": {
        "groupID": "103582xxxxxxxxxx",
        "me": "/me ",
        "quote": "/quote ",
        "pre": "/pre ",
        "idleGames": [
            730,
            252950,
            271590
        ]
    }
}